@import "styles/global";

.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100%;
  background-color: #fff;
  z-index: 5;
  transition: all 0.5s;
  &__items {
    margin-top: toRem(25);
  }
  &.expanded {
    top: toRem(70);
  }
}
.item {
  padding: toRem(25) 0;
  display: block;
  &:active {
    background: $color-6;
  }
  &__wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    & img {
      height: toRem(55);
      filter: opacity(0.8);
    }
    & span {
      color: $color-1;
      font-size: toRem(18);
      font-weight: 600;
      margin-left: toRem(50);
    }
  }
}
