@import 'styles/global';

.wrapper {
  max-width: toRem(550);
  display: flex;
  flex-direction: column;
  padding: toRem(11);
  border-radius: toRem(24);
  box-shadow: 0 0 toRem(5) $color-6;
  color: $color-1;
}
.image {
  width: 100%;
  position: relative;
  margin-bottom: toRem(20);
  border-radius: toRem(15);
  overflow: hidden;
}
.title {
  flex: 1 0 auto;
  font-size: toRem(14);
  margin-bottom: toRem(20);
  margin-left: toRem(10);
}
.ingredients {
  font-size: toRem(12);
  margin-bottom: toRem(20);
  margin-left: toRem(10);
  line-height: toRem(15);
  & p {
    font-size: toRem(10);
    margin-top: toRem(15);
  }
}
.size {
  font-size: toRem(30);
  width: 100%;
  border-radius: toRem(15);
  overflow: hidden;
  margin-bottom: toRem(20);
}
.crust {
  font-size: toRem(30);
  width: 100%;
  border-radius: toRem(15);
  overflow: hidden;
  margin-bottom: toRem(20);
  margin-top: toRem(-10);
}
.checkout {
  font-size: toRem(50);
  border-radius: toRem(15);
  overflow: hidden;
}
